@use "../../../styles/variables.scss" as vars;
$card-border-radius: 8px;
$card-box-shadow: 0 4px 8px rgba(146, 110, 110, 0.1);
$title-overlay-background: rgba(0, 0, 0, 0.5);

.card {
  display: block;
  position: relative;
  height: vars.$card-height;
  width: vars.$card-height;
  border-width: var(--spacing-xs);
  border-style: solid;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin: 0 var(--spacing-sm);

  &:hover {
    transform: translateY(-5px);
  }

  &:hover &__description-container {
    display: flex;
    opacity: 1;
  }

  &:hover &__title,
  &:hover &__title-overlay {
    display: hidden;
    opacity: 0;
  }

  &[href] {
    cursor: pointer;
  }

  &__image-container {
    width: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;
  }

  &__title-overlay {
    position: absolute;
    bottom: 0;
    padding: var(--spacing-sm);
    background-color: $title-overlay-background;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
  }

  &__description-container {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.555);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: ellipsis;
  }
}
