@font-face {
  font-display: swap;
  font-family: "Baloo Bhaina 2";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/baloo-bhaina-2-v29-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Averia Serif Libre";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/averia-serif-libre-v19-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/arvo-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/architects-daughter-v20-latin-regular.woff2")
    format("woff2");
}
