@use "functions.scss";

@mixin generate-color-styles($colors) {
  @each $name, $value in $colors {
    .text-color-#{$name} {
      color: var(--color-#{$name});
    }

    .background-#{$name} {
      background-color: var(--color-#{$name});
    }

    .border-#{$name} {
      border-color: var(--color-#{$name});
    }
  }
}

@mixin generate-font-family($font-families) {
  @each $name, $value in $font-families {
    .font-#{$name} {
      font-family: $value;
    }
  }
}

@mixin generate-genre-color-styles($genre-map) {
  @each $name, $id in $genre-map {
    .bg-genre-#{$name} {
      background-color: var(--color-genre-#{$name});
    }

    .border-genre-#{$name} {
      border-color: var(--color-genre-#{$name});
    }
  }
}