$card-width-rem: 18rem; 
$animation-duration: 40s; 

@keyframes slide-continuous {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.carousel {
  position: relative;
  width: 100%;
  margin: var(--spacing-xl) auto;
  overflow: hidden;
  
  &--paused &__content-wrapper {
    animation-play-state: paused !important;
  }

  &__content-wrapper {
    display: flex;
    width: 200%;
    margin: 0; 
    animation-name: slide-continuous;
    animation-duration: $animation-duration;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;     
    will-change: transform; 
  }

  &__content-wrapper > * {
    flex-shrink: 0;
    flex-basis: 18rem; 
    max-width: 18rem;
  }

  &__controls {
    display: none;
  }

}